[{{ _repo.id }}]
name={{ _repo.name is defined and _repo.name or _repo.id }}
baseurl=http://{{ repo_server }}/pub/{{ _repo.id }}
#metadata_expire=1h
enabled=1
gpgcheck={{ _repo.gpgcheck|default('1') }}
skip_if_unavailable=True
