install
cdrom
text
bootloader
keyboard us
lang {{ kickstart.lang|default('en_US.UTF-8') }}
rootpw {{ kickstart.rootpw }}
timezone Asia/Tokyo
auth --useshadow --passalgo=sha512
selinux --enforcing
firewall --enabled --service=mdns,ssh,http,https
xconfig --startxonboot
zerombr
clearpart --all
part / --size 1 --grow
services {{ '--enabled=%s' % kickstart.services.enabled|join(',') if kickstart.services.enabled is defined and kickstart.services.enabled else '' }}{{ ' --disabled=%s' % kickstart.services.disabled|join(',') if kickstart.services.disabled is defined and kickstart.services.disabled else '' }}
{%  if kickstart.repos is defined and kickstart.repos -%}
{%-    for __repo in kickstart.repos
           if __repo.name is defined and __repo.name and
            ((__repo.baseurl is defined and __repo.baseurl) or
             (__repo.mirrorlist is defined and __repo.mirrorlist)) -%}
repo --name={{ __repo.name }} {{ '--baseurl=%s' % __repo.baseurl if __repo.baseurl is defined and __repo.baseurl else '' }} {{ '--mirrorlist=%s' % __repo.mirrorlist if __repo.mirrorlist is defined and __repo.mirrorlist else '' }} {{ __repo.options if __repo.options is defined and __repo.options else '' }}
{%     endfor -%}
{%- endif %}
{%  if kickstart.users is defined and kickstart.users -%}
{%      for __user in kickstart.users|selectattr('name') -%}
user --name={{ __user.name }}
{{-        " --gecos=\"%s\"" % __user.gecos if __user.gecos -}}
{{-        " --groups=%s" % __user.groups|join(',') if __user.groups -}}
{{-        " --homedir=%s" % __user.homedir if __user.homedir -}}
{{-        " --password=%s" % __user.password if __user.password -}}
{{-        " --iscrypted" if __user.iscrypted -}}
{{-        " --shell=%s" % __user.shell if __user.shell -}}
{{-        " --uid=%s" % __user.uid if __user.uid -}}
{{-        " --gid=%s" % __user.gid if __user.gid -}}
{{-        " --lock" if __user.lock }}
{%      endfor -%}
{%- endif %}
network --bootproto=dhcp --device=link --activate
shutdown

%packages --ignoremissing
{% for _pkg in kickstart.packages -%}
{{     _pkg }}
{% else %}
@core
@base
@x11
@gnome-desktop
{% endfor %}
%end

%post
for key in /etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-{release,beta}; do \
  test -f ${key} && rpm --import ${key} || :; done

f=/root/.bashrc
test -f $f && \
echo "export LC_ALL=en_US.UTF-8" >> $f || \
(cat << EOF > $f
test -f /etc/bashrc && . /etc/bashrc || :
export LC_ALL=en_US.UTF-8
EOF
)
test -d /root/setup || mkdir -p /root/setup
touch /root/setup/kickstart.post.stamp
%end
