<!-- @see http://libvirt.org/formatnetwork.html -->
<network>
  <name>{{ _network.name }}</name>
  <bridge name="{{ _network.bridge }}"/>
  <forward/>
  <domain name='{{ _network.domain }}' localOnly='yes'/>
  <dns>
    <host ip='{{ _network.gw_ip }}'><hostname>{{ _network.gw_hostname }}</hostname></host>
  </dns>
  <ip address='{{ _network.gw_ip }}' netmask='{{ _network.netmask|default("255.255.255.0") }}'>
    <dhcp>
      <range start='{{ _network.range_start }}' end='{{ _network.range_end }}'/>
    </dhcp>
  </ip>
</network>
